/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

.controls {
  display: grid;
  grid-template-areas: ". top ."
                       "left . right"
                       ". bottom .";
  justify-items: center;
}

.controls > div:nth-child(1) {
  grid-area: top;
}

.controls > div:nth-child(2) {
  grid-area: right;
}

.controls > div:nth-child(3) {
  grid-area: bottom;
}

.controls > div:nth-child(4) {
  grid-area: left;
}

.controls > div.highlighted {
  @apply p-1 border shadow-outline;
}

.sequence-display > div:not(.active) {
  @apply invisible transition duration-500 ease-linear opacity-0;
}

.sequence-display > div.active {
  @apply transition duration-150 ease-linear;
  animation: fadeIn .15s linear;
}

@keyframes fadeIn {
  0% { @apply invisible opacity-25; }
  100% { @apply visible opacity-100; }
}